html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
}

h1 {
	color: rgb(249, 247, 237);
	display:block;
	font-family:Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:30px;font-weight:300;
	height:40px;ß
	letter-spacing:-0.8px;
	line-height:40.5px;
	margin-bottom:20px;
	margin-top:0px;
	text-align:center;
	text-transform:uppercase;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size: 110t;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
button:active {
	position:relative;
	top:1px;
}


section {
	margin: 5px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.details label {
	width: 15em;
	display: inline-block;
}

div.col {
	width: 450px;
	float: left;
	padding: 1em;
	display: block;
}

#publications {
	width: 100%;
	display: inline-block;
}

#toolbar {
	font-size: 11pt;
}

#toolbar div {
	display: inline-block;
}

#toolbar div.left input {
	width: 3em;
}

#toolbar div.left {
	float: left;
}

#toolbar div.middle {
	margin-left: 20px;
}

#toolbar div.right {
	float: right;
}

#search {
	width: 10em;
}

#main {
    width: 95%;	
    margin: auto;
}

#container {
    height: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#keyStats {
	width: 1000px;
	padding: 2em;
}

#keyStats p {
	width: 60em;
}

#node_detail_trend {
	width: 300px;
	height: 200px;
}